<!DOCTYPE html>
{% trans_default_domain 'kazetenn_admin' %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {{ 'kazetenn_admin.default_template.default_title'|trans }}
            {% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('admin_style', null, 'kazetenn_admin') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('admin_sidebar', null, 'kazetenn_admin') }}
            {{ encore_entry_script_tags('icons', null, 'kazetenn_admin') }}
        {% endblock %}
    </head>

    <body class="page-columns">
        <nav id="nav-top" class="navbar admin-navbar is-white" role="navigation" aria-label="main navigation">
            <div class="navbar-brand admin-navbar-brand">
                <a class="navbar-item has-text-centered" href="{{ path('kazetenn_admin_admin_index') }}" style="width: 100%;">
                    {{ 'kazetenn_admin.default_template.page_title'|trans }}
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuTop">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navbarMenuTop">
                <div class="navbar-end">
                    {% block nav_top %}
                        {{ include('@KazetennAdmin/admin_menu_top.html.twig') }}
                    {% endblock %}
                </div>
            </div>
        </nav>

        <section id="page-container" class="section admin-page-container">
            <div id="page-content" class="columns container is-full admin-page-content">

                <div id="sidebar" class="column sidebar-2 aside_container sidebar is-fixed-top">
                    <aside class="menu is-hidden-mobile">
                        {% block nav_side %}
                            {{ include('@KazetennAdmin/admin_menu.html.twig') }}
                        {% endblock %}
                    </aside>
                </div>

                <div id="main" class="column is-11 admin-body_container">
                    <span class="is-hidden">{% block body_hidden_infos %}{% endblock %}</span>

                    <div id="body" class="section">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer admin-footer">
            <div class="content has-text-centered">
                <p>
                    {{ 'kazetenn_admin_interface.footer.text'|trans }}
                </p>
            </div>
        </footer>
    </body>
</html>
