{% for content_name, content_list in contents %}
    <h2 class="subtitle">{{ content_name }}</h2>
    {% for content in content_list %}
        <div style="width: 75%">
            <h3>{{ content_name }} {{ content.id }} - {{ content.Title }} ({{ content.Slug }})</h3>
            <div>
{#                <a href="{{ path('kazetenn_admin_page_show', {'id': content.id}) }}">preview</a>#}
                <a href="{{ path('kazetenn_admin_content_handling', {'content': content.id} ) }}">edit</a>

                {% if content_name == 'page' and null != content.parent %}
                    <a href="{{ path('kazetenn_front_index', {'page_path_1': content.parent.slug, 'page_path_2': content.slug}) }}" target="_blank">Consulter</a>
                {% else %}
                    <a href="{{ path('kazetenn_front_index', {'page_path_1': content.slug}) }}" target="_blank">Consulter</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <div>
        <h2>no records found</h2>
    </div>
{% endfor %}

<a href="{{ path('kazetenn_admin_content_handling') }}">Create new</a>
