{% extends '@KazetennAdmin/admin_base.html.twig' %}

{% block title %}New Page{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/kazetenn/page_form.js') }}" defer></script>
{% endblock %}

{% block body_hidden_infos %}
    <span id="ajaxurl" style="display: none" data-ajaxurl="{{ ajax_route }}" data-pageid="{{ page_id }}" data-addcontent="{{ ajax_add_content }}"></span>
{% endblock %}

{% block body %}
{% endblock %}
