{% trans_default_domain 'kazetenn_admin' %}

<nav>
    <ul class="menu-label">
        <li><a>{% trans %}kazetenn_admin.nav_size.expand_collapse{% endtrans %}</a></li>
    </ul>
    <ul>
        {% if vertical is defined and vertical is not empty %}
            {% for menu in vertical %}
                {% if menu.type == 'link' %}
                    <li id="{{ menu.name }}">
                        <a href="{{ menu.destination }}">{{ menu.displayName }}</a>
                    </li>
                {% elseif menu.type == 'main' %}
                    <li class="menu-label" id="{{ menu.name }}">
                        <a href="{{ menu.destination }}">{{ menu.displayName }}</a>
                        {% if menu.children is not empty %}
                            <ul class="menu-list">
                            {% for menu in menu.children %}
                                <li id="{{ menu.name }}">
                                    <a href="{{ menu.destination }}">{{ menu.displayName }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</nav>

